<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Scripts/getBootStrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/jQuery/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    <link href="~/Scripts/pnotify-1.2.0/jquery.pnotify.default.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Developersatish</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("List", "Index", "MyAccount")
                            </li>
                            <li>
                                @Html.ActionLink("Create", "Index", "Home")
                            </li>

                        </ul>

                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">CURD <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("MVC", "CurdMvc","CurdMvc")

                            </li>
                            <li>
                                <a href="#">Ajax</a>
                            </li>
                            <li>
                                <a href="#">Knockoutjs</a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Hello World</li>

                        </ul>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("Signout", "Index", "SignOut");
                        }
                        else
                        {
                            @Html.ActionLink("Login", "Index", "Home");
                        }

                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div style="margin-top: 40px;">

        <div class="container">
            <div class="page-header">
                <h1>My MVC: <small>
                    <abbr title="Satish Kumar Singh">developersatish</abbr></small></h1>

            </div>
            @RenderBody()
        </div>
    </div>
</body>
<script src="~/Scripts/jQuery/jquery-1.10.2.js"></script>
<script src="~/Scripts/jQuery/jquery-ui-1.10.3.custom.js"></script>
<script src="~/Scripts/getBootStrap/bootstrap.js"></script>
<script src="~/Scripts/jQuery/jquery.nicescroll.js"></script>
<script src="~/Scripts/jQuery/jquery.validate.js"></script>
<script src="~/Scripts/jQuery/knockout-2.3.0.js"></script>
<script src="~/Scripts/jQuery/knockout.validation.js"></script>
<script src="~/Scripts/jQuery/underscore.js"></script>
<script src="~/Scripts/pnotify-1.2.0/jquery.pnotify.js"></script>

@RenderSection("script", required: false);
</html>
